
<head>
    <link
      rel="shortcut icon"
      type="image"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>


      body {
        font-family: monospace;
      }
      h1 {
        /*display: inline-block;*/
        font-size: 3em;
        padding: 2%;
        /*margin: 0;*/
        /*padding: 14px;*/
      }
      h3 {
        color: black;
        font-size: 20px;
        margin-top: 3px;
        text-align: center;
      }
      #chatbox {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
        margin-top: 30px;
      }
      #userInput {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        margin-top: 60px;
        align-items: center;
      }

      #textInput {
        width: 90%;
        height: 30px;
        border: none;
        font-family: monospace;
        font-size: 17px;
        border-radius: .4em;
      }
      .userText {
        color: white;
        font-family: monospace;
        font-size: 17px;
        text-align: right;
        line-height: 30px;
      }
      .userText span {
        background-color: #808080;
        padding: 10px;
        border-radius: .4em;
      }
      .botText {
        color: white;
        font-family: monospace;
        font-size: 17px;
        text-align: left;
        line-height: 30px;
      }
      .botText span {
        background-color: #009ad3;
        padding: 10px;
        border-radius: .4em
      }



      #tidbit {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 300px;
      }
      .boxed {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 30px;
        border: 1px solid green;
        background: #F8F8FF;
      }
      #send {
       position: absolute;
       margin-left: 5px;
      }








    </style>
</head>



<body>
    <center>
      <h1>
          Marvin Sarcastovitch ChatBot
      </h1>
    </center>
<div class="box"></div>
    <div class="boxed">
      <div>
        <div id="chatbox">
          <p class="botText">
            <img src="https://image.flaticon.com/icons/svg/1156/1156419.svg"
              alt="bot"
              style="width:33px;height:33px;">
            <span>Hi! I'm Marvin Sarcastovitch.</span>
          </p>




        </div>
        <div id="userInput">
          <p class="align">
          <input id="textInput" type="text" name="msg" placeholder="Send a message..." />
          <input id="send" type="image" name="send" value="Send" src="https://image.flaticon.com/icons/svg/60/60525.svg" alt="sendicon" style="width:25px;height:25px;"/>
          </p>
        </div>
      </div>
    </div>

  </body>
 


 <input type="hidden" id="ChatId" name="ChatId" value="0">

<script>
		function showLoading()
		 {
		 myButton = document.getElementById("ChatId"); //searches for and detects the input element from the 'myButton' id
         myButton.value = parseInt(myButton.value, 10)+1; //changes the value

		 	var botHtml = '<p class="botText" id=count'+document.getElementById("ChatId").value+'><img src="https://image.flaticon.com/icons/svg/1156/1156419.svg" alt="bot" style="width:33px;height:33px;"><span>' + '<img src="https://i.ibb.co/BgPqTLy/827-1.gif">' + "</span></p>";
		 $("#chatbox").append(botHtml)

		};

		


        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + '</span><img src="https://image.flaticon.com/icons/svg/634/634795.svg" alt="user" style="width:33px;height:33px;"></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document
            .getElementById("userInput")
            .scrollIntoView({ block: "start", behavior: "smooth" });
          


          showLoading();

          $.get("/get", { msg: rawText }).done(function(data) {
            //var botHtml = '<p class="botText"><img src="https://image.flaticon.com/icons/svg/1156/1156419.svg" alt="bot" style="width:33px;height:33px;"><span>' + data + "</span></p>";
            var botHtml = '<img src="https://image.flaticon.com/icons/svg/1156/1156419.svg" alt="bot" style="width:33px;height:33px;"><span>' + data + "</span>";


         ChatIdToChangeNum ="count" + document.getElementById("ChatId").value;// //searches for and detects the input element from the 'myButton' id
         document.getElementById(ChatIdToChangeNum).innerHTML = botHtml;
         


           //$("#chatbox").append(botHtml);
            document
              .getElementById("userInput")
              .scrollIntoView({ block: "start", behavior: "smooth" });
          });
        }
        $("#textInput").keypress(function(e) {
          if (e.which == 13) {
            getBotResponse();
          }
        });
        $("#send").click(function(e1){
          getBotResponse();
       
        });


</script>






